bin/*
[Cc]onfig/*
logs/*
plugins/*
tests/*
tmp/*
vendor/*
webroot/subpages/soap/*
webroot/attachments/*
webroot/orders/*
webroot/img/jobs/*
webroot/img/logos/*
webroot/img/profile/*
webroot/canvas/*.png
!empty
*.tar.gz
*.tar
.idea/*
*.idea
/vendor/*
/config/app.php
/tmp/*
/logs/*
webroot/subpages/profile/page.php
*.xml
src/Template/Orders/webservice.ctp
.idea/misc.xml
