bin/*
[Cc]onfig/*
logs/*
plugins/*
tests/*
tmp/*
vendor/*

webroot/attachments/*
webroot/orders/*
webroot/img/jobs/*
webroot/img/logos/*
webroot/img/profile/*
webroot/canvas/*.png
!empty
*.tar.gz
*.tar
.idea/*
*.idea
/vendor/*
/config/app.php
/tmp/*
/logs/*
