.secondary_logo{
    display: block;
    padding: 10px 20px 0 20px;
    width:100%;
  opacity:0.8;


}


.whitecenterdiv {
  padding-top: 30px;
  color:white; width:100%; text-align: center;
}

.whiteCorner {
    z-index: 2;
    width: 25px;
    height: 25px;
    background-image: url("../img/WhiteCorner.png") !important;
float: right;
}

.dusk {
    z-index: 2;
    width: 90%;
    height: 7%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 8px;
    position: absolute;
    margin:-25px 0 0 0;
    opacity: 0.75;
    background-image: url("../img/dusk.png") !important;
    background-repeat: no-repeat !important;


}
.jobimg{max-width:100%;}
.floatright{float:right;}