@import url('font/font-awesome.css');


.activity_desc
{
    height:100px;
}

body{
	background: url(../img/bg.jpg) repeat-y; 
	min-height:850px;
}

#fullContainer{
	min-width: 1200px;
}

#leftColumn{
	width: 230px;
	float:left;
}
#rightColumn{
	float:left;
    width: 100%;
}

.changelang{width:100px;}
/* Left column */
.menu a{
	display:block;
	border-bottom: 1px solid #292929;
	border-top: 1px solid #384756;
	padding:9px 15px;
	color:#ffffff;
}
.menu a:last-child{
	border-bottom: 0px solid #292929;
}
.menu a i{
	margin-right:6px;
}

.menu a:hover, .logo a:hover{
	background-color: rgba(0,0,0,0.15);
	text-decoration:none;
}
.menu .selected{
	background-color: rgba(0,0,0,0.6);
}
.logo{
	text-align:center;
}
.logo a{ 
	display:block;
	padding:5px 0px;
	border-bottom: 1px solid #292929;
	border-top: 1px solid #384756;
}
.logo img{
	height:60px;
}
.poweredBy {
	background-color:#ffffff;
	margin:0px 3px;
	height:90px;
	text-align:center;

}
.poweredBy  table td{
	font-size:10px;
	font-style:italic;
}


.login{
border:1px solid #cccccc;
clear:both; width:250px;
padding:10px 20px;
margin:100px auto;
background-color:#ffffff;
-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.login input{
width:238px;
padding:5px;
border:1px solid #cccccc;

}
.login h2{
  padding: 0px;
  font-size: 30px;
  letter-spacing: -1px;
  display: block;
  color: #666666;
  font-weight: 300;
  font-family: 'Oxygen', sans-serif;
}
 .login select{
  width:100%;
 }
 .log-submit{
 text-align:right;
 }
.log-submit input{
	width:auto;
	padding-left:20px;
	padding-right:20px;
}

/* Header */
#rightHeader{
 background: url(../img/header.jpg) repeat-x scroll left bottom; 
 height:90px; 
 float:left;
 width:100%;
}


/* Header search bar */
.headSearch{
	float:left;
	margin:13px 0px 0px 21px;
}
.searchIcon {
  width: 50px;
  height: 32px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position:center center;
}
.searchInput, .searchButton{
	float:left;
}
.searchInput input{
	border-radius: 6px 0px 0px 6px;
	margin:0px;
}
.searchButton a{
	border-radius: 0px 6px 6px 0px;
	border-left:0px;
	margin-top:10px;
}


/* Header user control panel */
.userControlPanel{
	float:right;
	height:66px;
	margin:2px 21px 0px 0px;
}
.userControlPanel .avatar, .userControlPanel .avatar img{
	height:66px;
	width:66px;
	float:left;
}
.userControlPanel .companyLogo, .userControlPanel .companyLogo img{
	background-color:#ffffff;
	height:66px;
	max-width:166px;
	width:auto;
	float:left;
}
.userControlPanel .links{
	float:left;
	padding: 4px 20px 0px 10px;
}
.userControlPanel .links a{
	color:#cccccc;
}
.userControlPanel .links a:hover{
	color:#ffffff;
	text-decoration:none;
}

/* Header email bar */
.emailTab{
	background-color:#eeeeee;
	border-bottom:1px solid #bbbbbb;
	padding: 7px 10px 6px;
	clear:both;
}
.required.message{
	padding:5px;
	border:1px solid #cccccc;
	border-radius:0px;
}
.subjectLine, .recipientsLine{
	width:100%;
	float:left;
	margin:0px;
}
.subjectLine input, .recipientsLine input{
	width:100%;
	padding:1px 4px;
	border:1px solid #cccccc;
	margin:0px 0px 1px;
	border-radius:0px;
}
input.buttonV{
	padding:0px 10px !important;
	margin:0px !important;
	height:26px !important;
	line-height:26px !important;
	font-size:14px !important;
	text-align:center;
	color:#ffffff;
	border:0px;
	background-color:#4d90fe;
	float:right;
}
input.buttonV:hover, a.buttonV:hover{
	color:#ffffff;
	text-decoration:none;
	background-color:#0362fd;
}
a.buttonV{
	margin-right:1px;
	float:left;
	line-height:26px !important;
	background-color:#4d90fe;
	color:#ffffff;
	padding:0px 10px !important;
}
#Form{
	margin:0px !important;
	padding:0px !important;
}
.message-form{
	margin:0px !important;
	padding:0px !important;
}
.message-form .left{
	float:left;
    width: 100%;
	height:100px;
	margin:0px !important;
	padding:0px !important;
}
.message-form .left:last-child{
	float:right;
}












#rightContent .mainContent{
	padding:20px;
	padding-bottom:60px;
}









/* Header glass bar menu */
.buttonBarContainer{
	width:100%;
	background-image:url(../img/layout/buttonGradient.png); 
	background-position:bottom center;
	background-repeat:repeat-x;
	float:left;
	padding-bottom:25px;
}
.buttonBar{
	padding:18px 20px 0px;
}
.full8ButtonB{
	position:relative; 
	color:#000000; padding-bottom:10px;
	background-color:transparent;
}
.full8ButtonB .caption{
	position:absolute; padding:0px; text-align:center;left:0px; right:0px; bottom:0px;font-size:11px; text-transform:uppercase; padding-bottom:4px;
	opacity: 0.75;
	filter:alpha(opacity=75);
}
.full8ButtonB .caption i{
	float:right; margin-top:2px;
}
.full8ButtonB .icon{
	width:100%; font-size:38px; color:#000000; text-align:center; padding: 10px 0px 14px; 
	opacity: 0.55;
	filter:alpha(opacity=55);
}
.full8ButtonB:hover > .caption, .full8ButtonB:hover > .icon{
	opacity: .85;
	color:#27a9e3;
	filter:alpha(opacity=85);
}
.v1ButtonBarB
{
	width:88px; 
	float:left;
	margin-right:6px;
}
.v1ButtonBarB:last-child
{
	margin-right:0%;
}
.glassButton{
	background-image:url(../img/layout/glassButton.png);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:  100% 100%; 
}
.whiteCorner{
	z-index:2;
	width:25px;
	height:25px;
	background-image:url('../img/layout/whiteCorner.png');
	background-repeat:no-repeat;
	background-position:top right;
	position:absolute;
	top:0px;
	right:0px;
}
.dusk{
	width: 100%;
	height:7%;
	background-image:url(../img/layout/dusk.png);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:  100% 4px;
	position:absolute;
	bottom:-7%; 
	opacity: 0.45;
	filter:alpha(opacity=45);
}
.dusk2{
	width: 100%;
	height:7%;
	background-image:url(../img/layout/dusk.png);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:  100% 8px;
	position:absolute;
	bottom:-7%; 
	opacity: 0.75;
	filter:alpha(opacity=75);
}

/***
Dashboard stats
***/

.documentsDashboard{ 
	width:100%;
}

.dashboard-stat {
  margin-bottom: 25px;
  position:relative;
  float:left;
    width: 255px;
	margin-right:1%;
}
.dashboard-stat-last {
	margin-right:0px;
    width: 24%;
}

.dashboard-stat:before,
.dashboard-stat:after {
  display: table;
  line-height: 0;
  content: "";
}
.dashboard-stat:after {
  clear: both;
}

.dashboard-stat .visual {
  width: 70px;
  height:80px;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
}

.dashboard-stat .visual i {
  font-size: 65px;
  color: #fff;
}

.dashboard-stat .details {
  float: right;
  padding-right: 20px;
}

.dashboard-stat .details .number {    
  padding-top: 25px;
  text-align: right;
  font-size: 34px;
  letter-spacing: -1px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
}

.dashboard-stat .details .desc {
  text-align: right;
  font-size: 13px;
  letter-spacing: 0px; 
  color: #ffffff;
} 

.dashboard-stat .more {
  clear: both;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  color: #fff;  
  opacity: 0.75;  
  filter: alpha(opacity=75);
}  

/* tien */
.dashboard-stat .more2 {
  clear: both;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  color: #fff;  
  padding: 5px 10px 5px 10px;
  background: rgba(0, 0, 0, 0.15);
}  

.dashboard-stat .more i {
  margin-top: 4px;
  float: right;
}

.dashboard-stat .more:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 1;  
  filter: alpha(opacity=100);
}

.dashboard-stat.blue {
  background-color: #27a9e3;
}

.dashboard-stat.blue .more { 
  background-color: #27a9e3;
} 

.dashboard-stat.green {
  background-color: #28b779;
}

.dashboard-stat.green .more { 
  background-color: #28b779;
} 

.dashboard-stat.red {
  background-color: #e7191b;
}

.dashboard-stat.red .more { 
  background-color:#e7191b;
} 

.dashboard-stat.yellow {
  background-color: #ffb848;
}

.dashboard-stat.yellow .more { 
  background-color: #ffb848;
} 

.dashboard-stat.purple {
  background-color: #852b99;
}

.dashboard-stat.purple .more { 
  background-color: #852b99;
} 

.overallLink{
	display:block;
	width:100%;
	height:100%;
}





.pagination2 ul{
	margin:0px;
}
.pagination2 ul li{
	display:block;
	float:left;
	border:1px solid #cccccc;
	border-right:0px solid #cccccc;
	position:relative;
	padding:4px 0px;
	text-align:center;
	min-width:28px;
}
.pagination2 ul li:hover{
	background-color:#d9d9d9;
}
.pagination2 ul li.current{
	background-color:#eeeeee;
}
.pagination2 ul li:first-child{
	border-radius:6px 0px 0px 6px;
}
.pagination2 ul li:last-child{
	border-right:1px solid #cccccc;
	border-radius:0px 6px 6px 0px;
}
.pagination2 ul li a{
	padding:4px 10px;
	width:100%;
	height:100%;
	display:inline;
}



/***
Import fonts
***/
@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

.page-title {
  padding: 0px;
  font-size: 30px;
  letter-spacing: -1px;
  display: block;
  color: #666666;
  margin: 20px 0px 10px 0px;
  font-weight: 300;
  font-family: 'Oxygen', sans-serif;

}
.page-title small {
	color:#bbbbbb ;
}

.breadcrumb{padding:9px 15px 8px;margin:0 0 20px;list-style:none;background-color:#f5f5f5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; }
.breadcrumb>li{display:inline-block;*display:inline;text-shadow:0 1px 0 #fff;*zoom:1}
.breadcrumb>li>.divider{padding:0 5px;color:#ccc}
.breadcrumb a, .breadcrumb i, .breadcrumb span {color:#666666; font-size:14px;}
.breadcrumb a:hover{color:#666666}


#table { border: 1px solid #9D9C9C; width: 100%; margin-bottom: 15px; clear:both;}
#table h2{ background: #555; color: #FFF; font-size: 18px; font-weight:300; padding: 8px; line-height:18px; margin:0px;  font-family: 'Oxygen', sans-serif;}
#table table{ width: 100%;   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;}
#table table th{ text-align: left;}
#table table th, table td{padding: 8px;  font-size: 13px; vertical-align: top;}
#table table tr, table th{border-bottom:1px solid #DDDDDD;}
#table table tr:last-child{ border-bottom: none;}
#table table tr:hover{ background: #f5f5f5;}
#table table input, table textarea{ margin-bottom: 0;}
.table .table td{font-size:13px!important;}


#flashMessage{
clear:both;
margin:0px 20px;
padding:10px 15px;
background-color:#dff0d8;
border:1px solid #d6e9c6;
color:#7ea571;
font-size:16px;
    width: auto;
	border-radius:4px;
	  font-family: 'Oxygen', sans-serif;
}
#response,#response1,.response1{color:red;}
#name{cursor: text;}
.notop{border-top:none!important;border-left:1px solid #DDD;}
.checkboxes input{margin-top:0!important;}
.clear{clear:both;}
label.error{color:red!important;}

.dashboard-stat .desc{height: 43px;width: 150px;}


